**/__pycache__/**
**/**.pyc
__pycache__/
__pycache__/config.cpython-311.pyc
core/__pycache__/__init__.cpython-311.pyc
core/__pycache__/__init__.cpython-311.pyc
core/__pycache__/groups.cpython-311.pyc
core/__pycache__/keys.cpython-311.pyc
__pycache__/config.cpython-311.pyc
